node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.example
*.md
.DS_Store
.vscode
coverage
.nyc_output
.cache
dist
.next
.nuxt
.tmp
.temp
data
backup
*.log
**/node_modules
**/dist
**/build
**/.turbo
**/.github
**/README.md
**/.next
**/.DS_Store
**/.env
**/.env.*
!**/.env.sample
**/data
**/logs
**/.vscode 